
PowerPi-backups/PowerPi-2022-05-21_215202.zip
*.zip
*.zip
meta/PiPowerHAT-B_Cu.gbr
meta/PiPowerHAT-B_Mask.gbr
meta/PiPowerHAT-B_Paste.gbr
meta/PiPowerHAT-B_Silkscreen.gbr
meta/PiPowerHAT-Edge_Cuts.gbr
meta/PiPowerHAT-F_Cu.gbr
meta/PiPowerHAT-F_Mask.gbr
meta/PiPowerHAT-F_Paste.gbr
meta/PiPowerHAT-F_Silkscreen.gbr
meta/PiPowerHAT-job.gbrjob
meta/PiPowerHAT-NPTH.drl
meta/PiPowerHAT-PTH.drl
meta/PowerPi-B_Cu.gbr
meta/PowerPi-B_Mask.gbr
meta/PowerPi-B_Paste.gbr
meta/PowerPi-B_Silkscreen.gbr
meta/PowerPi-Edge_Cuts.gbr
meta/PowerPi-F_Adhesive.gbr
meta/PowerPi-F_Cu.gbr
meta/PowerPi-F_Mask.gbr
meta/PowerPi-F_Paste.gbr
meta/PowerPi-F_Silkscreen.gbr
meta/PowerPi-job.gbrjob
meta/PowerPi-NPTH.drl
meta/PowerPi-PTH.drl
